<!DOCTYPE html>
<html>
  <head>
    <title>Print QR Code</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap 5 -->
    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <style>
      html, body {
        height: 100%;
        background-color: #ffffff;
        margin: 0;
      }

      .print-wrapper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
      }

      @media print {
        body {
          margin: 0 !important;
        }

        .print-wrapper {
          box-shadow: none !important;
          padding: 0 !important;
        }
      }
    </style>
  </head>

  <body onload="window.print()">
    <div class="print-wrapper container">
      <%= yield %>
    </div>
  </body>
</html>
